.header-container{
    background:#00b6ce;
    min-height: 7%;
}
.login-btn {
    margin-right: 20px;
    float: right;
    margin-top: 10px;
    background: white;
    outline: none;
    border: none;
    border-radius: 5px;
    line-height: 24px;
   
}
.body-container {
    background: #cac9c93d;
    padding: 10px;
    height: 100%;
}